 .u-section-1 {
  background-image: url("https://pixabay.com/get/g9a280c6621d4d64ef84490173524d275fcf84d22219a9b19f2ab3011b8237ea9c81a1cbeac4d1f61388fa8912d1191b93e86dea598416b0fc0a8d2a53b0798bf_1280.jpg");
}
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 25.85% 47.63%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 41.96% 72.75%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 269px;
}

.u-section-2 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 58px 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}